/* Redefine o espaçamento e preenchimento padrão */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que o box-sizing seja border-box para incluir bordas e padding no cálculo do tamanho */
}

body{
    background-color: #daffef; /* Cor de fundo */
    font-family: Arial, Helvetica, sans-serif; /* Configura o tipo de fonte */
    color: #333; /* Cor das letras */
}

header{
    background-color: #fcfffd; /* Cor de fundo */
    padding: 20px; /* Adiciona preenchimento de 20px para todos os lados */
}

header h1{
    text-align: center; /* Alinha o texto para o meio */
    font-size: 45px; /* Configura o tamanho da fonte */
}

.menu{
    display: flex; /* Mantem o menu centralizado */
    justify-content: center; /* Mantem o menu centralizado */
    padding: 15px; /* Adiciona preenchimento de 15px para todos os lados */
    border-bottom: 2px solid #333; /* Borda inferior de 2px solida da cor #333 */
}

.menu a{
    text-decoration: none; /* Tira o sublinhado */
    color: #333; /* Cor das letras */
    font-size: 20px; /* Configura o tamanho da fonte */
    margin: 5px; /* Adiciona margem de 5px */
    transition: color 0.3s; /* Adiciona transição de cores */
}

.menu a:hover{
    color: blue; /* Configura a cor das letras quando o cursor está sobre as âncoras */
}

.sobre{
    background-color: #c0fbfd; /* Cor de fundo */
    padding: 15px; /* Adiciona preenchimento de 15px para todos os lados */
    margin: 50px; /* Adiciona margem de 50px */
    border: 5px dotted #64b6ac; /* Adiciona borda de 5px pontilhado */
}
.sobre h2{
    font-size: 35px; /* Configura o tamanho da fonte */
    color: #000; /* Cor das letras */
    text-align: center; /* Alinha o texto para o meio */
}

.sobre p{
    text-align: justify; /* Cor das letras */
    font-size: 20px; /* Configura o tamanho da fonte */
    color: #222; /* Cor das letras */
}

.palestrantes{
    background-color: #64B6AC; /* Cor de fundo */
    margin: 30px auto; /* Adiciona margem de 30px e mantem o conteúdo centralizado em relação a página */
    padding: 20px; /* Adiciona preenchimento de 20px para todos os lados */
    padding-bottom: 40px; /* Adiciona preenchimento inferior de 40px */
    border-radius: 10px; /* Arredonda as bordas em 10px */
    max-width: 1000px; /* Configura a largura máxima para 1000px */
}

.palestrantes h2{
    font-size: 35px; /* Configura o tamanho da fonte */
    text-align: center; /* Alinha o texto para o meio */
    margin: 20px; /* Adiciona margem de 20px */
}

.card-grid{
    display: flex; /* Usa flexbox para alinhar os cartões */
    justify-content: center; /* Centraliza os cartões */
    box-shadow: #333; /* Adiciona uma sombra */
}

/* Estilo para os cartões de experiência */
.card{
    background-color: #5D737E; /* Cor de fundo do cartão */
    border: 1px solid #ddd; /* Adiciona uma borda cinza clara */
    border-radius: 5px; /* Bordas arredondadas */
    width: 300px; /* Define a largura do cartão */
    box-shadow: #333; /* Adiciona uma sombra */
}

/* Efeito de hover nos cartões */
.card:hover{
    transform: scale(1.10); /* Aumenta o tamanho do cartão em 10% quando o mouse passa por cima */
}

/* Estilo para as imagens dentro dos cartões */
.card img{
    width: 100%; /* Faz a imagem ocupar toda a largura do cartão */
    height: 200px; /* Define a altura da imagem */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço sem distorções */
}

/* Estilo para o conteúdo dentro dos cartões */
.card-content{
    padding: 20px; /* Adiciona espaçamento interno no conteúdo */
}

/* Estilo para os títulos dentro dos cartões */
.card h3{
    font-size: 24px; /* Define o tamanho da fonte do título */
    margin: 10px; /* Adiciona margem ao redor do título */
    color: #FCFFFD; /* Cor do título */
}

/* Estilo para os parágrafos dentro dos cartões */
.card p{
    font-size: 16px; /* Define o tamanho da fonte do parágrafo */
    color: #FCFFFD; /* Define a cor do texto como cinza claro */
}

.agenda{
    background-color: #5D737E; /* Cor de fundo */
    margin: 30px auto; /* Adiciona margem de 30px e mantem o conteúdo centralizado em relação a página */
    margin-top: 0px; /* Tira a margem superior */
    padding: auto; /* Adiciona preenchimento automático*/
    border: 2px solid #000; /* Adiciona uma borda preta */
    border-radius: 20px; /* Bordas arredondadas */
    max-width: 350px; /* Configura a largura máxima para 1000px */
    text-align: center; /* Alinha o texto para o meio */
}

.agenda h2{
    padding: 15px; /* Adiciona preenchimento de 15px para todos os lados*/
    color: #FCFFFD; /* Cor das letras */
    font-size: 30px; /* Define o tamanho da fonte */
}

.agenda p{
    padding: 10px; /* Adiciona preenchimento de 10px para todos os lados*/
    color: #FCFFFD; /* Cor das letras */
}

.formulario h2{
    font-size: 30px; /* Define o tamanho da fonte */
    text-align: center; /* Alinha o texto para o meio */
}

.formulario{
    display: flex; /* Usa flexbox para organizar o formulário */
    flex-direction: column; /* Organiza os elementos em coluna */
    margin: 20px; /* Adiciona margem */
}
/* Estilo para o conteúdo do modal */
.f-content{
    background-color: #C0FDFB;; /* Cor de fundo do formulario */
    margin: 0 auto; /* Centraliza o conteúdo */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    width: 400px; /* Largura máxima de 400px */
}

.f-content .botao{
    text-align: center; /* Alinha o texto para o meio */
}

/* Estilo para os rótulos dos inputs no formulário */
.formulario form label{
    margin: 10px; /* Adiciona margem ao redor dos rótulos */
    font-size: 20px; /* Define o tamanho da fonte dos rótulos */
    display: flex; /* Usa flexbox para organizar o formulário */
    flex-direction: column; /* Organiza os elementos em coluna */
}

/* Estilo para os campos de entrada do formulário */
.formulario form input{
    padding: 10px; /* Adiciona preenchimento dentro dos campos */
    margin: 5px; /* Adiciona margem ao redor dos campos */
    border: 1px solid #ccc; /* Borda cinza clara */
    border-radius: 5px; /* Bordas arredondadas */
    width: 100%; /* Configura a a largura para preencher 100% */
}

.formulario form .btn{
    text-align: center; /* Alinha o texto para o meio */
    background-color: #64b6ac; /* Cor de fundo */
    border: none; /* Remove as bordas */
    margin: 10px; /* Adiciona margem de 10px para todos os lados*/
    padding: 10px; /* Adiciona preenchimento de 10px para todos os lados*/
    border-radius: 5px; /* Arredonda as bordas */
    cursor: pointer; /* Configura o cursor para pointer */
}

.formulario form .btn:hover{
    background-color: #5D737E; /* Cor de fundo */
}

footer{
    background-color: #5D737E; /* Cor de fundo */
}

footer p{
    margin: 0 auto; /* Centraliza o conteúdo */
    padding: 30px; /* Adiciona preenchimento de 30px para todos os lados*/
    text-align: center; /* Alinha o texto para o meio */
    font-size: 20px; /* Define o tamanho da fonte do parágrafo */
    color: #FCFFFD; /* Cor das letras */
}